.ant-collapse {
    background-color: #f0f0f0;
    color: #1c252e;
  }
  
  .ant-collapse-header {
    background-color: #d3d3d3;
    color: #000;
  }
  
  .dark .ant-collapse {
    background-color: #1e1e1e;
    color: #fff;
  }
  
  .dark .ant-collapse-header {
    background-color: #1c252e;
    color: #eee !important;

  }
  

  .dark .ant-collapse-content-box{
    background-color: #1c252e;
  }


.media-item {
  width: 100%;
  aspect-ratio: 16 / 9 !important;
  position: relative !important;
  overflow: hidden !important;
  border-radius: 8px !important ;
}

.media-content {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important; 
  border-radius: 8px !important;
}

.upload-label {
  width: 100% !important;
  aspect-ratio: 16 / 9 !important; 
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  /* border: 2px dashed #ccc !important; */
  cursor: pointer !important;
  border-radius: 8px !important;
  transition: background-color 0.3s !important;
}

.upload-label:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
