.sidebar {
  transition: width 0.3s;
  direction: rtl;
  width: 240px; /* Decrease from whatever the current width is */
}

.sidebarOpen {
  width: 240px; /* Decrease from whatever the current width is */
}

.sidebarClosed {
  width: 250px;
}
