.ant-picker-input input::placeholder {
  color: #999999 !important; 
}

.dark .ant-picker-input input::placeholder {
  color: #cccccc !important; 
}


:where(.css-dev-only-do-not-override-apn68).ant-picker .ant-picker-input >input[disabled]{
  color : inherit !important;
}

.ant-image.css-dev-only-do-not-override-apn68{
  height: 100% !important;
}